.container{
margin: 20px;
background-color: #58ccb9;
padding-bottom: 100px;

}
.body{
}
/* h1{
  text-align: center;
  padding-top:25px;
} */
.game{
  display:flex;
  justify-content: center;
  
}
.game_square{
  width: 200px;
  height: 200px;
  background-color: rgb(173, 0, 216);
  border: 5px solid white;
  display: flex;
  justify-content: center;

}
.user{
  font-size: 80px;
  color: white;
  font-family: sans-serif;
  text-align: justify;
}

.header {
  padding: 1px;
  text-align: center;
  background: #58ccb9;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  
  
}
